# .env.example
# فایل تنظیمات محیطی - برای استفاده در محیط لوکال این فایل را کپی کنید

# تنظیمات PostgreSQL (دیتابیس اصلی سیستم)
DB_ENGINE=postgresql
DB_NAME=textile_db
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

# تنظیمات کوکی‌ها (در محیط لوکال بدون HTTPS روی false بگذارید)
ENABLE_SECURE_COOKIES=false

# آدرس‌های شبکه داخلی برای CSRF
CSRF_TRUSTED_ORIGINS=http://192.168.1.*,http://10.0.0.*
